@import url('../../../../../css2');
:root
{
    --primary-gradiant: linear-gradient( 3deg, rgb(184,0,89) 0%, rgb(249,0,123) 100%);;
    --secondary-color: rgb(180, 0, 87);
    --primary-color: rgb(246, 0, 121);;
    --text-color: rgb(186, 186, 186);
    --heading-color:rgb(0, 0, 0);
    --field-color: rgb(186, 186, 186);
}



body
{
    font-family: "Jost";
    width: 100%;
}
main
{
    min-height: 100vh;
    width: 100%;
    /* display: grid; */
}
header
{
    width: 100%;
    min-height: 180px;
    display: flex;
    align-items: center;
    padding: 30px 100px;
    position: relative;
}
.step-count
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number
{
    border-radius: 50%;
    background-color: rgb(227, 227, 227);
    width: 75px;
    height: 75px;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}
.step-number::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--primary-gradiant);
    transition: 0.3s;
}


.step-number .number-inner
{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-family: "Roboto";
    color: rgb(227, 227, 227);
    font-weight: bold;
    display: grid;
    place-content: center;
    position: relative;
      
}
.step-count-bar
{
    display: flex;
    align-items: center;
    position: relative;
}
.step-count-bar::before
{
    content: "";
    position: absolute;
    background: var(--primary-gradiant);
    height: 4px;
    width: 0px;
    left: 75px;
    z-index: 1;
    transition-delay: 0.5s;
    transition: 0.3s;
}
.step-count-bar::after
{
    content: "";
    display: inline-block;
    background-color: rgb(227, 227, 227);
    height: 4px;
    width: 100px;
    position: relative;
    z-index: 0;

}
.no-line::before
{
    display: none;
}
.no-line::after
{
    display: none;
}
.active .step-number .number-inner
{
    color: var(--primary-color);
}
.timer
{
    position: absolute;
    right: 100px;
}
.timer-inner
{
    width: 130px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: grid;
    column-gap: 50px;
    align-items: center;
    border: solid 10px var(--primary-color);
}



.timer .timer-count
{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: normal;
    text-align: center;
    line-height: 1;
}
.timer .timer-count span
{
    display: block;
    font-weight: bold;
    font-size: 30px;
}
.question
{
    position: absolute;
    top: 110px;
    left: 40px;
    z-index: -2;
}
form 
{
    position: relative;
}
form::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-image: url(../images/bubble.png);
    border-top: solid 4px var(--field-color);
    width: 100%;
    height: 56%;
    z-index: -1;
}


.quiz-question
{
    font-size: 50px;
    color: var(--heading-color);
    font-weight: bold;
    text-align: center;
    width: 75%;
    margin: 70px auto;
    margin-bottom: 145px;
}
.radio-btn
{
    position: relative;
    width: 93%;
    height: 270px;
    text-align: center;
    display: grid;
    align-content: center;
    padding: 0 80px;
    margin: 0 auto;
    margin-bottom: 50px;

}

.radio-btn::after
{
    content: "";
    width: 0;
    height: 4px;
    right: -43px;
    top: 80px;
    background-image: var(--primary-gradiant);
    position: absolute;
    transition: 0.5s;
}
.radio-btn::before
{
    content: "";
    width: 0;
    height: 4px;
    left: -43px;
    top: 80px;
    background-image: var(--primary-gradiant);
    position: absolute;
    z-index: 0;
    transition: 0.5s;
}
.radio-btn.active::before,.radio-btn.active::after
{
    width: 43px;
}

.radio-btn label
{
    font-size: 25px;
    color: var(--field-color);
    font-weight: bold;
    pointer-events: none;
    transition: 0.5s;
    position: relative;
    z-index: 100;

}
.radio-btn input
{
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: solid 4px var(--field-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    transition: 0.5s;


}
.radio-btn input::before
{
    content: "X";
    border: solid 4px var(--field-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: grid;
    place-content: center;
    font-size: 25px;
    color: var(--field-color);
    font-weight: bold;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;

    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    pointer-events: none;
}

.radio-btn .op1::before
{
    content: "A";
}
.radio-btn .op2::before
{
    content: "B";
}
.radio-btn .op3::before
{
    content: "C";
}
.radio-btn .op4::before
{
    content: "D";
}
.radio-btn input:checked
{
    border-color: var(--primary-color);
}

.radio-btn input:checked~label
{
    color: var(--primary-color);
}
.radio-btn input:checked::before
{
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.next-prev
{
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 200px;
    align-items: center;
    flex-wrap: wrap;
}
.next-prev button
{
    border: solid 1px rgb(225,225,225);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.03);
    width: 234px;
    height: 72px;
    font-size: 18px;
    color: rgb(124, 120, 120);
    font-weight: bold;
    text-transform: uppercase;
  }
  .next-prev button i
  {
    margin: 0 8px;
  }
.next
{
    background-image: linear-gradient( 90deg, rgb(184,0,89) 0%, rgb(249,0,123) 100%);
    color: rgb(255, 255, 255) !important;

}
  







#error div
{
    position: fixed;
    top: 20px;
    left: 20px;
}

